In [109]:
import pandas as pd

In [110]:
w = pd.read_csv("weather.csv")
a = pd.read_csv("availability.csv")

Check the layout of the data right now:

In [111]:
print(a.shape)
print(w.shape)

(1512780, 5)
(3809, 9)

In [112]:
a.tail()

,number,available_bikes,available_bike_stands,last_update,curr_time
1512775,113,0,40,2024-04-02 21:41:20,2024-04-02 21:45:01
1512776,114,1,39,2024-04-02 21:41:04,2024-04-02 21:45:01
1512777,115,29,1,2024-04-02 21:40:32,2024-04-02 21:45:01
1512778,116,6,24,2024-04-02 21:35:47,2024-04-02 21:45:01
1512779,117,8,32,2024-04-02 21:42:42,2024-04-02 21:45:01

In [113]:
w.tail()

,lon,lat,id,temp,feels_like,weather_description,wind_speed,humidity,curr_time
3804,-7.7783,53.2734,804,284.37,283.79,overcast clouds,4.33,86,2024-04-02 17:00:02
3805,-7.7783,53.2734,804,283.82,283.24,overcast clouds,4.34,88,2024-04-02 18:00:02
3806,-7.7783,53.2734,804,282.71,280.58,overcast clouds,4.07,91,2024-04-02 19:00:03
3807,-7.7783,53.2734,804,282.15,280.55,overcast clouds,2.86,92,2024-04-02 20:00:02
3808,-7.7783,53.2734,804,281.60,280.33,overcast clouds,2.25,94,2024-04-02 21:00:02

Check for missing values:

In [114]:
print(a.isna().sum())
print("=====================================")
print(w.isna().sum())

number                   0
available_bikes          0
available_bike_stands    0
last_update              0
curr_time                0
dtype: int64
=====================================
lon                    0
lat                    0
id                     0
temp                   0
feels_like             0
weather_description    0
wind_speed             0
humidity               0
curr_time              0
dtype: int64

In [115]:
# Convert 'curr_time' to datetime format
w["curr_time"] = pd.to_datetime(w["curr_time"])

# Floor the 'curr_time' to the nearest hour
w["curr_time"] = w["curr_time"].dt.floor("h")

a["curr_time"] = pd.to_datetime(a["curr_time"])

a["curr_time"] = a["curr_time"].dt.floor("h")

In [116]:
a_dupes = a[a.duplicated(keep=False)]
a_dupes

,number,available_bikes,available_bike_stands,last_update,curr_time
342,1,7,24,2024-02-16 18:48:19,2024-02-16 18:00:00
343,2,13,7,2024-02-16 18:51:05,2024-02-16 18:00:00
344,3,11,9,2024-02-16 18:48:41,2024-02-16 18:00:00
345,4,6,14,2024-02-16 18:50:47,2024-02-16 18:00:00
346,5,24,16,2024-02-16 18:51:10,2024-02-16 18:00:00
...,...,...,...,...,...
1512768,106,14,26,2024-04-02 21:36:21,2024-04-02 21:00:00
1512770,108,11,24,2024-04-02 21:37:57,2024-04-02 21:00:00
1512773,111,16,24,2024-04-02 21:35:44,2024-04-02 21:00:00
1512774,112,21,9,2024-04-02 21:38:39,2024-04-02 21:00:00
1512778,116,6,24,2024-04-02 21:35:47,2024-04-02 21:00:00

In [117]:
w_dupes = w[w.duplicated(keep=False)]
w_dupes

,lon,lat,id,temp,feels_like,weather_description,wind_speed,humidity,curr_time
0,-7.7783,53.2734,803,281.04,277.27,broken clouds,7.35,85,2024-02-21 19:00:00
1,-7.7783,53.2734,803,281.04,277.27,broken clouds,7.35,85,2024-02-21 19:00:00
2,-7.7783,53.2734,803,281.04,276.97,broken clouds,8.38,79,2024-02-21 20:00:00
3,-7.7783,53.2734,803,281.04,276.97,broken clouds,8.38,79,2024-02-21 20:00:00
4,-7.7783,53.2734,803,281.59,277.84,broken clouds,7.84,86,2024-02-21 22:00:00
...,...,...,...,...,...,...,...,...,...
3078,-7.7783,53.2734,803,281.05,279.08,broken clouds,3.09,73,2024-03-03 14:00:00
3079,-7.7783,53.2734,803,281.05,279.08,broken clouds,3.09,73,2024-03-03 14:00:00
3080,-7.7783,53.2734,803,281.05,279.08,broken clouds,3.09,73,2024-03-03 14:00:00
3081,-7.7783,53.2734,803,281.05,279.08,broken clouds,3.09,73,2024-03-03 14:00:00
3082,-7.7783,53.2734,803,281.05,279.08,broken clouds,3.09,73,2024-03-03 14:00:00

In [118]:
# Drop duplicates but keep the first occurrence
w_no_dupes = w.drop_duplicates(keep="first")
w_dupes.shape

(2819, 9)

In [119]:
a_no_dupes = a.drop_duplicates(keep="first")
a_no_dupes.shape

(979800, 5)

In [120]:
merged_df = pd.merge(w_no_dupes, a_no_dupes, on="curr_time", how="inner")
merged_df.shape

(1547649, 13)

In [121]:
merged_df.head()

,lon,lat,id,temp,feels_like,weather_description,wind_speed,humidity,curr_time,number,available_bikes,available_bike_stands,last_update
0,-7.7783,53.2734,803,281.04,277.27,broken clouds,7.35,85,2024-02-21 19:00:00,1,27,4,2024-02-21 18:56:44
1,-7.7783,53.2734,803,281.04,277.27,broken clouds,7.35,85,2024-02-21 19:00:00,2,4,16,2024-02-21 18:56:08
2,-7.7783,53.2734,803,281.04,277.27,broken clouds,7.35,85,2024-02-21 19:00:00,3,8,12,2024-02-21 18:57:07
3,-7.7783,53.2734,803,281.04,277.27,broken clouds,7.35,85,2024-02-21 19:00:00,4,5,15,2024-02-21 18:57:57
4,-7.7783,53.2734,803,281.04,277.27,broken clouds,7.35,85,2024-02-21 19:00:00,5,37,3,2024-02-21 18:57:12

In [122]:
merged_df.tail()

,lon,lat,id,temp,feels_like,weather_description,wind_speed,humidity,curr_time,number,available_bikes,available_bike_stands,last_update
1547644,-7.7783,53.2734,804,281.6,280.33,overcast clouds,2.25,94,2024-04-02 21:00:00,110,5,35,2024-04-02 21:39:52
1547645,-7.7783,53.2734,804,281.6,280.33,overcast clouds,2.25,94,2024-04-02 21:00:00,113,0,40,2024-04-02 21:41:20
1547646,-7.7783,53.2734,804,281.6,280.33,overcast clouds,2.25,94,2024-04-02 21:00:00,114,1,39,2024-04-02 21:41:04
1547647,-7.7783,53.2734,804,281.6,280.33,overcast clouds,2.25,94,2024-04-02 21:00:00,115,29,1,2024-04-02 21:40:32
1547648,-7.7783,53.2734,804,281.6,280.33,overcast clouds,2.25,94,2024-04-02 21:00:00,117,8,32,2024-04-02 21:42:42

Check for duplicate rows:

In [123]:
duplicate_rows = merged_df[merged_df.duplicated(keep=False)]
duplicate_rows

Empty DataFrame
Columns: [lon, lat, id, temp, feels_like, weather_description, wind_speed, humidity, curr_time, number, available_bikes, available_bike_stands, last_update]
Index: []

In [124]:
merged_df["lon"] = merged_df["lon"].astype("category")
merged_df["lat"] = merged_df["lat"].astype("category")
merged_df["id"] = merged_df["id"].astype("category")
merged_df["weather_description"] = merged_df["weather_description"].astype("category")
merged_df["number"] = merged_df["number"].astype("category")

merged_df["temp"] = merged_df["temp"].astype("float64")
merged_df["feels_like"] = merged_df["feels_like"].astype("float64")
merged_df["wind_speed"] = merged_df["wind_speed"].astype("float64")

merged_df["humidity"] = merged_df["humidity"].astype("int64")
merged_df["available_bikes"] = merged_df["available_bikes"].astype("int64")
merged_df["available_bike_stands"] = merged_df["available_bike_stands"].astype("int64")

merged_df["curr_time"] = pd.to_datetime(merged_df["curr_time"])
merged_df["last_update"] = pd.to_datetime(merged_df["last_update"])

In [125]:
merged_df["date"] = merged_df["curr_time"].dt.date
merged_df["time"] = merged_df["curr_time"].dt.time

In [126]:
merged_df.head()

,lon,lat,id,temp,feels_like,weather_description,wind_speed,humidity,curr_time,number,available_bikes,available_bike_stands,last_update,date,time
0,-7.7783,53.2734,803,281.04,277.27,broken clouds,7.35,85,2024-02-21 19:00:00,1,27,4,2024-02-21 18:56:44,2024-02-21,19:00:00
1,-7.7783,53.2734,803,281.04,277.27,broken clouds,7.35,85,2024-02-21 19:00:00,2,4,16,2024-02-21 18:56:08,2024-02-21,19:00:00
2,-7.7783,53.2734,803,281.04,277.27,broken clouds,7.35,85,2024-02-21 19:00:00,3,8,12,2024-02-21 18:57:07,2024-02-21,19:00:00
3,-7.7783,53.2734,803,281.04,277.27,broken clouds,7.35,85,2024-02-21 19:00:00,4,5,15,2024-02-21 18:57:57,2024-02-21,19:00:00
4,-7.7783,53.2734,803,281.04,277.27,broken clouds,7.35,85,2024-02-21 19:00:00,5,37,3,2024-02-21 18:57:12,2024-02-21,19:00:00